<h1>Contact Us</h1>
<hr><hr>

<font color="Blue" size=4>
	For Any Query Regarded To this Web-site
	Please contact to Admin or Mail <br>
	<br>
	
	Email:- awasthi.piyush8@gmail.com
	
	<br><br>
	Thank you
<hr><hr>
</font>